*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{
    background: #34495e;
    color: #fff;
}
/* ===================================== STYLE QUESTIONS ====================================== */
/* .wrapper{
    margin: auto;
    padding: auto;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 7rem;
}

.quests h1{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.quests ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    list-style: none;
    margin-left: 32rem;
    margin-right: 33rem;
    text-decoration: bold;
}

.quests li{
    padding: 1.5rem;
    background: rgb(10, 163, 117);
    cursor: pointer;

}

.quests li:hover{
    background: rgb(187, 209, 224);
}
.quests h2{
    margin-top: 4rem;
}
.quests p{
    padding: .2rem;
    background: rgb(10, 163, 117);
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10%;
}
.quests a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
   
    
}

.quests span{
    text-transform: uppercase;
    background: rgb(11, 122, 89);  
    margin-right: 7rem;
    padding: 1.5rem; 
    padding-top: 1.5rem;
   
} */
.wrapper{
    margin: auto;
    padding: auto;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 7rem;
}

.quests h1{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.quests li{
    padding: 1.5rem;
    background: rgb(10, 163, 117);
    cursor: pointer;

}

.quests a{
    display: flex;
    justify-content: space-between;
    margin-right: 6rem;
    
   
    
}
.quests span{
    text-transform: uppercase;
    background: rgb(11, 122, 89);  
    padding-top: .1rem;
    overflow: hidden;
   
}
.quests ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    list-style: none;
    margin-left: 32rem;
    margin-right: 33rem;
    text-decoration: bold;
}

.quests a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


 /* ====================HIDE CLASS ========================== */



.hide{
    display:none;
}


/* =============== PROGRESS BARR ================== */

.progres_bar{
    margin-left: 55rem;
    
} 

.progres_bar h2{
    margin-bottom: 1rem;
}

.progres_bar p {
    padding: 0.3rem;
    background: rgb(10, 163, 117);
    margin-right: 45rem;
    margin-left: -11rem;
}

/* ==================== FOOOOOTER SETTINGS  ================== */
footer{
    text-align: center;
    margin-top: 5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

#countdown{
    font-weight: bold;
    font-size: 1.5rem;
}