*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{
    background: #34495e;
    color: #fff;
}
/* ===================================== STYLE QUESTIONS ====================================== */

.wrapper{
    margin: auto;
    padding: auto;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 7rem;
}

.quests h1{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.quests li{
    padding: 1.5rem;
    background: rgb(15, 70, 53);
    background: linear-gradient(to right, rgb(15, 70, 53) 0%,rgb(15, 70, 53) 15%,rgb(10, 163, 117) 15%,rgb(10, 163, 117),rgb(10, 163, 117),rgb(10, 163, 117) 100%);
    cursor: pointer;

}

.quests a{
    display: flex;
    justify-content: space-between;
    margin-right: 6rem;
    
   
    
}

.quests ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    list-style: none;
    margin-left: 32rem;
    margin-right: 33rem;
    text-decoration: bold;
}

.quests a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.quests li:hover{
    background: rgb(6, 219, 226);
    transform: scale(1.05);
    transition: ease 1.9s;
  
}


 /* ====================HIDE CLASS ========================== */



.hide{
    display:none;
}


/* =============== PROGRESS BARR ================== */

.progress {
    position: relative;
    width: 210px;
    height: 30px;
    background: rgb(10, 163, 117); 
    border-radius: 5px;
    overflow: hidden;
    margin-left: 44%;
    margin-top: 5rem;
  }
  
  .progress__fill {
    width: 0%;
    height: 100%;
    background: #c8f502;
    transition: all 0.2s;
  }
  
  .progress__text {
    position: absolute;
    top: 50%;
    right: 5.625rem;
    transform: translateY(-50%);
    font: bold 14px "Quicksand", sans-serif;
    color: #ffffff;
  }


/* ==================== FOOOOOTER SETTINGS  ================== */
footer{
    text-align: center;
    margin-top: 5rem;
    font-weight: bold;
    font-size: 1.5rem;
}
/* ========= HODINY ============================== */
#countdown{
    font-weight: bold;
    font-size: 1.5rem;
}

#timer {
    font-size: 4rem;
    margin-left: 45%;
    margin-top: 2rem;
  }
/* ============ MEDIA QUERIES ========================== */

@media (max-width:113rem) {
    .quests ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        list-style: none;
        margin-left: 25rem;
        margin-right: 25rem;
        text-decoration: bold;
    }
}

@media (max-width:100rem) {
    .quests ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        list-style: none;
        margin-left: 20rem;
        margin-right: 20rem;
        text-decoration: bold;
    }
}

@media (max-width:88rem) {
    .quests ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        list-style: none;
        margin-left: 15rem;
        margin-right: 15rem;
        text-decoration: bold;
    }
}

@media (max-width:80rem) {
    .quests ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        list-style: none;
        margin-left: 10rem;
        margin-right: 10rem;
        text-decoration: bold;
    }
}


@media (max-width:69rem) {
    .quests ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        list-style: none;
        margin-left: 5rem;
        margin-right: 5rem;
        text-decoration: bold;
    }
}

@media (max-width:58rem) {
    .quests ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        list-style: none;
        margin-left: 1rem;
        margin-right: 1rem;
        text-decoration: bold;
    }
}


@media (max-width:50rem) {
    .quests ul{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        list-style: none;
        margin-left: 1rem;
        margin-right: 1rem;
        text-decoration: bold;
    }

    .progress {
        position: relative;
        width: 210px;
        height: 30px;
        background: rgb(10, 163, 117);
        border-radius: 5px;
        overflow: hidden;
        margin-left: 32%;
        margin-top: 5rem;
    }

    #timer {
        font-size: 4rem;
        margin-left: 30%;
        margin-top: 2rem;
    }
}